body {background-color: white;}

.sidenav {
    background-color: #edf1f2;
    padding-bottom: 5%;
}

.row.content {height: 575px;}

#section1 {font-size: medium;}

#section5 .col-md-3 {text-align: center;}

.myButton {margin: 5px 0;}

#section4 .myButton, #section5 .myButton {margin: 0 !important;}

button {margin: 0px 5px 0px 0px !important;}

.fas.fa-heart {color: red;}

footer {
    color: gray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
    #section4 .myButton, #section5 .myButton{
        margin-left: 15px !important;
        margin-bottom: 5px !important;
    }
    #section5 .col-sm-3{
        padding-left: 12px !important;
    }
}